@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playwrite+CU:wght@100..400&family=Vesper+Libre:wght@400;500;700;900&display=swap");
@import "tailwindcss";
@theme {
  --font-sans: Arial;
  --font-play-cu: Playwrite CU, serif;
  --font-cinzel: Cinzel, serif;
  --font-vesper: Vesper Libre, arial;
}
